.popUp {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  .popUp_container{
    max-width: 340px;
    height: fit-content;
    box-shadow: 0 0 5px gray;
    border-radius: 12px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 50px 30px;
  }
}
