.footer {
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.chat {
	display: grid;
	grid-template-columns: 350px auto;
}

.message-form {
	width: 100%;
	padding: 0px;
}

.logout{
	position: absolute;
	left: 20px;
	width: 25px;
	img {
		width: 100%;
		height: auto;
	}
}