extends ../layout/main

block vars
    - var pageTitle = '500'

block content
    .containerCenter.auxiliary_page
        .title_big.text_center 500
        .title_middle.text_center Мы уже фиксим
        .text_center
            a(href="./chat.pug") Назад к чатам