extends ../layout/main

block vars
    - var pageTitle = '500'

    include ../components/empty_space/empty_space.pug

block content
    .containerCenter.auxiliary_page
        .title_big.text_center 500
        +emptySpace("20")
        .title_middle.text_center Мы уже фиксим
        +emptySpace("60")
        .text_center
            a(href="./chat.pug") Назад к чатам