extends ../layout/main

block vars
    - var pageTitle = 'Регистрация'

    include ../components/input/input.pug
    include ../components/button/button.pug

block content
    .containerCenter
        form(method="post" name="form")
            .title_middle.text_center Регистрация
            +input("email", "email", "input_email", "Почта")
            +input("login", "text", "input_text", "Логин")
            +input("first_name", "text", "input_text", "Имя")
            +input("second_name", "text", "input_text", "Фамилия")
            +input("phone", "tel", "input_tel", "Телефон")
            +input("password", "password", "input_password", "Пароль")
            +input("password", "password", "input_password", "Пароль (еще раз)")
            +button("Создать пользователя", "registration", "./chat.pug")
        div.text_center
            a.link_mini(href='./chat.pug') Войти