.modal_container {
  max-width: 340px;
  height: fit-content;
  box-shadow: 0 0 5px #cccccc;
  border-radius: 12px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -200%;
  left: 0;
  margin: auto;
  padding: 40px 30px 30px;
  background-color: #ffffff;
  transition: bottom .5s;
}


