include ../chat/chat.pug

include ../input/input.pug
include ../button/button.pug

.chat_page

    <!-- ЧАТ -->
    .chat_container
        .chat_list
            .profile_open_container
                .profile_open#profile_open Профиль &gt;
            .chat_search_container
                input.chat_search(type="text" placeholder="Поиск")
            +chat("Андрей", "11:44")
            +chat("Владими", "25:77")
            +chat("Еще какая-то хрень", "пн")
            +chat("и курсы на мидла...", "январь 21")
        .chat_field
            .chat_field_header#chat_field_header
                .chat_field_header_avatar
                .chat_field_header_title#chat_field_header_title title
                .chat_field_header_pointers#chat_field_header_pointers
                    .chat_field_header_point
                    .chat_field_header_point
                    .chat_field_header_point
            .chat_field_main_field
                .chat_field_modal#chat_field_modal
                    .chat_field_modal_add_user#chat_field_modal_add_user Добавить пользователя
                    .chat_field_modal_delete_user#chat_field_modal_delete_user Удалить пользователя

    <!-- ПРОФИЛЬ -->
    .profile_container#profile_container
        .back_chat_container
            .back_chat_arrow#back_chat_arrow
                img(src="./../static/images/arrow_left.svg")
        .profile
            .profile_data_container
                .profile_avatar
                    img(src="./../static/images/default_avatar.svg")
                .profile_name.title_middle Александр


    <!-- ПОП АП -->
    .veil_container#veil_container
        .veil_is_casually_thrown_on_a_chair#veil_is_casually_thrown_on_a_chair
        #modal_add_user
            include ../modal/modal.pug
                block content
                     .title_middle.text_center Добавить пользователя
                     +input("login", "text", "input_text", "Логин")
                     +button("Добавить", "registration")
        #modal_delete_user
            include ../modal/modal.pug
                block content
                     .title_middle.text_center Удалить пользователя
                     +input("login", "text", "input_text", "Логин")
                     +button("Удалить", "registration")


