.chat_page {
  height: 100vh;
  position: relative;
  background-color: beige;
  overflow: hidden;
  .chat_container {
    height: 100vh;
  }
  .profile_container {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 80%;
    background-color: lightblue;
  }
}